Mako==0.8.1
MarkupSafe==0.18
Nikola==5.5
Pillow==2.1.0
PyRSS2Gen==1.1
Pygments==1.6
Unidecode==0.04.13
Yapsy==1.10.2-pythons2n3
argparse==1.2.1
autoenv==1.0.0
configparser==3.3.0r2
docutils==0.10
doit==0.22.0
lxml==3.2.1
nodeenv==0.6.6
pyinotify==0.9.4
pytz==2013b
six==1.3.0
wsgiref==0.1.2
